<!doctype html>
<html lang="en" ng-app="pharmDisplay">
<head>
    <meta charset="utf-8">
    <title>Pharmacy Display</title>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-controller="MainController">

<h2>Ready</h2>

<ul>
    <li ng-repeat="user in ready">{{user.name}} | {{user.lastUpdate | date: 'hh:mm a'}} </li>
</ul>

<h2>Received</h2>

<ul>
    <li ng-repeat="user in received">{{user.name}} | {{user.lastUpdate | date: 'hh:mm a'}} </li>
</ul>

</body>
</html>